@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600&display=swap');

@font-face {
    font-family: 'idroid';
    src:url(fontes/idroid.otf) format('opentype')
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(124, 209, 181);
    
    
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(65, 240, 152), rgb(7, 75, 43));
    padding: 6px;
    margin: 0px;
}

header > h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.5em;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.349);
    
    
}

header > p {
    font-size: 1em;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.829);
}
nav {
    text-align: left;
    font-weight:bold;
    font-size: small;
    margin-top: 30px;
}
nav > a {
    text-decoration: none;
    color: white;
    margin-right: 15px;

}

h2 {
    font-family: 'idroid';
    color: rgb(12, 90, 51);

}

h3 {
    font-family: 'idroid';
    color: rgb(12, 90, 51);
    background-image: linear-gradient(to right, rgba(118, 204, 161, 0.582), rgb(255, 255, 255) );
    

}

main {
    text-align: justify;
    background-color: white;
    padding: 10px;
    margin: 0px 100px 10px;  
    background-size: 650px 650px;

}
div {
    text-align: center;


}


div#video {
    text-align: center;
    margin: 0px;
    border: 0px;
}

h5 { 
    
    color: white;
    background-color: rgb(81, 194, 128);
    margin: 0px;
    padding: 10px;
    border-width: 10px;
    border-radius: 10px 10px 0px 0px;
    
    
}
section#extra {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 241, 229);
    padding: 5px 10px 0.05px 10px;
    border-radius: 0px 0px 10px 10px;

}

ul#versoesdoandroid {
    
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: white;
    background-color: rgb(81, 194, 128);
    margin-top: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
